
h1, h2, h3 {
    color:rgb(95, 90, 61);
    text-align: center;
}
ul, li, ol {
    color:rgb(95, 90, 61);
}
p, a {
  color:rgb(103, 53, 33);
}
img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color:rgb(166, 110, 73);
    font-family:'Courier New', Courier, monospace;
}